@media screen and (max-width: 1170px) {
	#content, header, nav, #footer, #footer_content, #content_news, #content_footer, #searchbox {
		width: 100%;
	}

	header {
		padding: 15px;
		margin: 0;
	}

	header a {
		padding-top: 10px;
		display: block;
	}

	#logosapienza {
		margin: 0;
	}

	#content .leftmenu {
		width: 100%;
		float: left;
	}

	#content .content_cell {
		margin-top: 10px;
		float: left;
	}

	#content_table_right {
		float: left;
		width: 100%;
	}

	#sitelogo {
		/* position: initial;
		float: right; */
		display: none;
	}

	nav > ul > li {
		float: initial;
	}


	/* HAMBURGER MENU */
	nav .hamburgerlb {
		display: inline-block;
		color: #822433;
		background-color: #fff;
		font-style: normal;
		font-size: 1.2em;
		padding: 10px;
		border: 1px #005866 solid;
		position: absolute;
		top: -60px;
		right: 10px;
	}

	nav ul {
	  display: none;
	}

	nav input:checked ~ ul {
	  display: block;
	}

	#hamburger {
		display: none;
	}

	#searchbox {
		display: none;
	}

	/* ***** INDEX ***** */
	.homepage_image {
		width: 100%;
	}

	.homepage_menu {
		width: 100%;
		padding: 5px;
	}

	/* ***** NEWS ***** */
	#content_news .news_item_block {
		width: 100%;
	}

	/* ***** FOOTER ***** */
	#content_footer img {
		display: none;
	}

	#content_footer a {
		display: block;
		width: 100%;
		margin: 0;
		margin-top: 10px;
	}

}
