{{ define "main" }}
<div id="content">
	<table id="content_table">
		<tr>
			<td class="leftmenu">{{- partial "left.html" . -}}</td>
			<td class="content_cell">
				<article>
					<h1 class="pagetitle">{{ .Title }}</h1>
					{{ .Content }}
				</article>
				<ul>
				{{ range .Paginator.Pages }}
					<li><a href="{{ .RelPermalink }}" >{{ .Date.Format "02/01/2006" }} - {{ .Title }}</a></li>
				{{ end }}
				</ul>
			</td>
			{{ if .Page.Params.pagemenu }}
			<td id="content_table_right">
				{{- partial "right.html" . -}}
			</td>
			{{ end }}
		</tr>
	</table>
</div>
{{ end }}
