<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{{ .Description }}" />
<meta name="keywords" content="{{ .Keywords }}" />
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="canonical" href="{{ .Permalink }}" />
{{ if eq .Title "" }}
<title>{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Title }}</title>
{{ end }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800">
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/mobile.css" />
