<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{{ .Description }}" />
<meta name="keywords" content="{{ .Keywords }}" />
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="canonical" href="{{ .Permalink }}" />
{{ if eq .Title "" }}
<title>{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Title }}</title>
{{ end }}
{{ $stylevariables := resources.Get "css/variables.css" | resources.ExecuteAsTemplate "css/variables.css" . }}
<link type="text/css" rel="stylesheet" href="{{ $stylevariables.RelPermalink }}" />
<link type="text/css" rel="stylesheet" href="/css/open_sans/open_sans.css" />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<link type="text/css" rel="stylesheet" href="/css/mobile.css" />
{{ if .Site.Params.dark_mode_enabled }}
<link type="text/css" rel="stylesheet" href="/css/dark_mode.css" />
{{ end }}