{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="homepage_image">
	<img src="{{ .Page.Params.main_photo }}" />
	<div class="homepage_title">{{ .Page.Params.welcome }}</div>
</div>

{{ if .Page.Params.services }}
<div class="homepage_menu">
	<h2>{{ $data.strings.services }}</h2>
	<ul>
	{{ range .Page.Params.services }}
		<li>
			<a href="{{ .link }}" title="{{ .name }}">
				{{- .name -}}
			</a>
		</li>
	{{ end }}
	</ul>
</div>
{{ end }}

{{ if .Page.Params.highlights }}
<div class="homepage_menu">
	<h2>{{ $data.strings.highlights }}</h2>
	<ul>
	{{ range .Page.Params.highlights }}
		<li>
			<a href="{{ .link }}" title="{{ .name }}">
				{{- .name -}}
			</a>
		</li>
	{{ end }}
	</ul>
</div>
{{ end }}

{{ if ne .Content "" }}
<div style="padding: 20px; clear: both;"></div>
{{ .Content }}
{{ else }}
<div style="clear: both;"></div>
{{ end }}
