{{ $currentPage := .Page.Scratch.Get "currentPage" }}
{{ $nested := .Page.Scratch.Get "nested" }}
{{ $newNested := add (int $nested) 1 }}

{{ range .Children }}
	<li style="padding-left: {{ mul $nested 20 }}px;" class="{{ if $currentPage.IsMenuCurrent "main" . }}menuactive{{ end }}">
		<a href="{{ .URL }}" title="{{ .Title }}">
			{{ if gt $nested 0 }}-{{ end }} {{ .Name }}
		</a>
		{{ .Page.Scratch.Set "nested" $newNested }}
		{{ .Page.Scratch.Set "currentPage" $currentPage }}
		{{ partial "left_item.html" . }}
	</li>
{{ end }}
