{{ $currentPage := .Page.Scratch.Get "currentPage" }}
{{ $parentMenuEntry := .Page.Scratch.Get "parentMenuEntry" }}
{{ $newParentMenuEntry := . }}

{{ if .HasChildren }}
	{{ if eq .Page $currentPage }}
		<h2>{{ .Name }}</h2>
		<ul>
		{{ range .Children }}
			<li>
				<a href="{{ .URL }}" title="{{ .Title }}">
					{{- .Name -}}
				</a>
			</li>
		{{ end }}
		</ul>
	{{ else }}
		{{ range .Children }}
			{{ .Page.Scratch.Set "currentPage" $currentPage }}
			{{ .Page.Scratch.Set "parentMenuEntry" $newParentMenuEntry }}
			{{- partial "left_item.html" . -}}
		{{ end }}
	{{ end }}
{{ else if and (eq .Page $currentPage) (ne .Page.Parent.Name "") }}
<h2>{{ .Page.Parent.Name }}</h2>
<ul>
{{ range $parentMenuEntry.Children }}
	<li>
		<a href="{{ .URL }}" title="{{ .Title }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}menuactive{{ end }}">
			{{- .Name -}}
		</a>
	</li>
{{ end }}
</ul>
{{ else if eq .Page $currentPage }}
<h2>{{ $currentPage.Name }}</h2>
{{ end }}
