<label for="hamburger" class="hamburgerlb">&#9776;</label>
<input type="checkbox" id="hamburger"/>

{{ $currentPage := . }}
<ul>
{{ range .Site.Menus.main }}
	{{ $isCurrentSection := false }}
	{{ if ne .Page nil }}
		{{ if eq .Page.Section $currentPage.Section }}
			{{ $isCurrentSection = true }}
		{{ end }}

		{{ if and (eq .Page.File.Path .Page.Site.Params.home_section_page) (eq $currentPage.Section "") }}
			{{ $isCurrentSection = true }}
		{{ end }}

		<li class="{{ if $isCurrentSection }}sectionactive{{ end }}">
			<a href="{{ .URL }}" title="{{ .Title }}">
				{{- .Name -}}
			</a>
		</li>
	{{ end }}
{{ end }}
</ul>
<div style="clear: both;"></div>

{{ if ne .Parent nil }}
<div class="breadcrumbs">
	{{- partial "breadcrumbs.html" .Parent -}} / <b>{{ .Title }}</b>
</div>
{{ end }}
