<label for="hamburger" class="hamburgerlb">&#9776;</label>
<input type="checkbox" id="hamburger"/>

{{ $currentPage := . }}
{{ $indexPage := (index .Site.Sections 0) }}

<ul>
{{ range .Site.Menus.main }}
	{{ $isCurrentSection := false }}

	{{ if and (ne .Page nil) (gt .Weight -1) }}
		{{ if eq .Page.Section $currentPage.Section }}
			{{ $isCurrentSection = true }}
		{{ end }}

		{{ if and (eq .Page.File.Path $indexPage.File.Path) (eq $currentPage.Section "") }}
			{{ $isCurrentSection = true }}
		{{ end }}

		<li class="{{ if $isCurrentSection }}sectionactive{{ end }}">
			<a href="{{ .URL }}" title="{{ .Title }}">
				{{- .Name -}}
			</a>
		</li>
	{{ end }}
{{ end }}
</ul>
<div style="clear: both;"></div>


{{ if and (ne .Page.File.Path $indexPage.File.Path) (ne .Parent nil) }}
<div class="breadcrumbs">
	{{- partial "breadcrumbs.html" .Parent -}} / <b>{{ .Title }}</b>
</div>
{{ end }}
