{{ define "main" }}

{{ $indexPage := (index .Site.Sections 0) }}

{{ if eq .Page.Params.layout "home" }}
{{- partial "index_home.html" $indexPage -}}
{{ else }}
<div id="content">
	<table id="content_table">
		<tr>
			{{ with $indexPage }}
				<td class="leftmenu">{{- partial "left.html" . -}}</td>
				<td class="content_cell">
					<article>
						<h1 class="pagetitle">{{ .Title }}</h1>
						{{ .Content }}
					</article>
				</td>
				{{ if .Page.Params.pagemenu }}
				<td id="content_table_right">
					{{- partial "right.html" . -}}
				</td>
				{{ end }}
			{{ end }}
		</tr>
	</table>
</div>
{{ end }}

{{ end }}
